@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Navbar
{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 2rem;
    height: 45px;
}

.Logo
{
    display:inline;
    justify-content: start;
    color: #000000;
    /* padding-left: 1.2rem; */
    font-family: 'Poppins', 'Arial','Courier New', Courier, monospace;
}

#hr_tag{
    margin: 0px 0px;
}


ul
{
    display: flex;
    list-style: none;
}

ul li a
{
  padding: 0px 1.2rem;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Poppins', 'Arial', 'Courier New', Courier, monospace;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

ul li a:hover
{
  color: #464646;
}
